{% for block in section.blocks %}
  <div class="{{ section.settings.text_align }}" style="background-color: {{ block.settings.bg_color }}; color: {{ block.settings.text_color }} ">
    {{ block.settings.text }}
  </div>
{% endfor %}

{% schema %}
  {
    "name": "Announcement Bar",
    "max_blocks": 12,
    "class": "announcement-bar-section",
    "settings": [
      {
        "type": "select",
        "id": "text_align",
        "label": "Text Align",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          }, {
            "value": "text-center",
            "label": "Center"
          }, {
            "value": "text-right",
            "label": "Right"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "announcement",
        "name": "t:sections.announcement-bar.blocks.announcement.name",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }, {
            "type": "select",
            "id": "text_alignment",
            "options": [
              {
                "value": "left",
                "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
              }, {
                "value": "center",
                "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
              }, {
                "value": "right",
                "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
              }
            ],
            "default": "center",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
          }, {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#fff"
          }, {
            "type": "color",
            "id": "text_color",
            "label": "Color",
            "default": "#000"
          }


        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  }
{% endschema %}